/local/.julia_history
/local/english-words.txt
/local/workspaces
/local/lisp/emacs-libvterm/
/local/lisp/brusts-mu4e-tags-list.txt
/local/session.*
/local/tramp
/CLAUDE.md
/.claude/
/CONFIG-NOTES.org
/local/emojis/
/local/projectile-frecency.eld
/custom.el
/config.el
/packages.el
